/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree
 *= require_rails_bootstrap_forms
 *= require_self
 */


@import "bootstrap-sprockets"
@import "bootstrap"
@import "rails_bootstrap_forms"

$shadow-preset: 0 1px 4px rgba(0,0,0,0.3), -23px 0 20px -23px rgba(0,0,0,.8), 23px 0 20px -23px rgba(0,0,0,.8), 0 0 40px rgba(0,0,0,.1) inset
body
  font-family: 'Open Sans', sans-serif
  background-image: url('graphy_@2X.png')

// for dates and times
.timing
  font-style: italic
  position: absolute
  bottom: 0
  left: 0
  margin: 0 10px 0 0
  padding: 5px

// for the messages
.message-box
  background-color: #fff
  padding: 8px
  margin: 10px
  box-shadow: $shadow-preset
  position: relative
  min-height: 70px

.actions, .author
  position: absolute
  bottom: 0
  right: 0
  padding: 5px
  margin: 0 10px 0 0


// for the titles
.title
  font-family: 'Russo One', sans-serif
// for the text of a message
.content
  padding-bottom: 15px

// for the header
.header
  text-align: right

// for the footer
// .footer

#main-container
  margin: 0 150px

#sidebar
  background-color: #2E2F30
  text-align: center
  height: 100%
  font-family: 'Ubuntu', sans-serif
  font-weight: bold
  a
    color: #ffffff
  a:hover
    color: black

#menu
  margin-top: 70px

#content
  padding: 0 40px

.form-control
  min-width: 250px
  max-width: 500px

.alert-warning
  background-color: rgba(255, 140, 137, 0.4)

.alert-info
  background-color: rgba(173, 255, 141, 0.4)

.name
  font-weight: bold

.field
  background-color: white
  box-shadow: $shadow-preset
  padding: 20px
