// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message-box {
  background-color: rgba(160,160,160,0.3);
  padding: 10px;
  margin: 10px;
}